<h2>Welcome!</h2><br>

Please <%= link_to "Log In", login_path %><br><br>
Or Sign Up!<br>
<%= button_to "Regular Sign Up", '/auth/developer' %><br>
Sign Up With <%= button_to "Google", '/auth/google_oauth2' %><br>





